<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <html lang="en-US">
  <meta name="keywords" content="proxy, themainhub, games, minecraft, unblocked, emulators, unblocked games"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="The ultraviolet proxy made by Titanium Network. Works on a large number of sites">
    <title>U&#173;ltrav&#173;iolet (Be&#173;ta)</title>
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#434c5e">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="assets/css/style.css">
   <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
  <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
  <div id="header" class="fullwidth">
    <ul class="navbar">
      <li>
	      <a href="/li">Links</a>
        <a href="/uv">Pr&#173;o&#173;xy</a>
	      <a href="/g">G&#173;ame&#173; H&#173;ub</a>
	      <a href="/frm">Ga&#173;me R&#173;equ&#173;est</a>
      </li>
    </ul>
    </div>
    <div id="mainbody" class="fullwidth">
        <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
        <div class="box box-medium text-center textm">
            <h1 class="bigtitle">Ultraviolet (Beta)</h1>
            <form id="pr-form" class="flex-center">
      <input id="pr-url" placeholder="Search the web freely" />
    </form>
        </div>
    </div>
            
    <div id="footer" class="fullwidth"></div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <script src="assets/uvscripts/uv.bundle.js"></script>
    <script src="assets/uvscripts/uv.config.js"></script>
    <script src="assets/uvscripts/index.js"></script>
</body>

</html>