<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <html lang="en-US">
    <meta name="keywords" content="proxy, themainhub, games, minecraft, unblocked, emulators, unblocked games"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Form</title>
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#434c5e">
  <meta name="description" content="A place to fill out a form to request a certain game or feature">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="assets/css/style.css">
   <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
  <div id="header" class="fullwidth">
    <ul class="navbar">
      <li>
	      <a href="/li">Links</a>
        <a href="/uv">Pr&#173;o&#173;xy</a>
	      <a href="/g">G&#173;ame&#173; H&#173;ub</a>
	      <a href="/frm">Ga&#173;me R&#173;equ&#173;est</a>
      </li>
    </ul>
    </div>    <div id="particles-js" class="fullwidth"></div>
    <div id="mainbody" class="fullwidth">
        <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
        <div class="box box-medium text-center textm">
            <h1 class="bigtitle">Ga&#173;me R&#173;equ&#173;est Form</h1>
            
            <p>Please type the name of the game in the correct box below, All request will be added in 3 days or less</p>
            <div id="pr-form">
              <form id="pr-form">
                <input id="h5g" type="text" spellcheck="false" autocomplete="off" placeholder="HTML Games">
                <a href="/frm" id="submit" onclick="sendForm('h5g')" class="pr-button glowbutton">Submit</a>
                <input id="emu" type="text" spellcheck="false" autocomplete="off" placeholder="Emulator Games">
                <a href="/frm" id="submit" onclick="sendForm('emu')" class="pr-button glowbutton">Submit</a>
                <input id="flash" type="text" spellcheck="false" autocomplete="off" placeholder="Flash Games">
                <a href="/frm" id="submit" onclick="sendForm('flash')" class="pr-button glowbutton">Submit</a>
                <input id="other" type="text" spellcheck="false" autocomplete="off" placeholder="Other">
                <a href="/frm" id="submit" onclick="sendForm('other')" class="pr-button glowbutton">Submit</a>
              </form>
            </div>
            
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <script src="assets/js/common.js"></script>
