<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TheHub</title>
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#434c5e">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="assets/css/style.css">
   <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  
    <script> 
    $(function(){
      $("#header").load("html/common/sidebar.html"); 
    });
    </script> 
</head>

<body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div id="header" class="fullwidth"></div>
    <div id="mainbody" class="fullwidth">
        <div class="box box-medium text-center textm">
            <h1 class="bigtitle">Links</h1>
            <p class="responsive-fix">Cho&#173;ose where you woul&#173;d like to go</p>
               <a class="fancybutton glowbutton" onclick="uvsend('youtube.com')">Yo&#173;u&#173;Tu&#173;be</a>
                <a class="fancybutton glowbutton" onclick="uvsend('discordapp.com')">Di&#173;sco&#173;rd</a>
                <a class="fancybutton glowbutton" onclick="uvsend('reddit.com')">Re&#173;d&#173;dit</a>
                <a class="fancybutton glowbutton" onclick="uvsend('netflix.com')">N&#173;etf&#173;li&#173;x</a>
                <a class="fancybutton glowbutton" onclick="uvsend('instagram.com')">In&#173;s&#173;tag&#173;ra&#173;m</a>
            </div>
            </div>
        </div>
    </div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
<script src='/assets/js/urlprox.js'></script>
</body>

</html>