<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <html lang="en-US">
  <meta name="keywords" content="proxy, themainhub, games, minecraft, unblocked, emulators, unblocked games"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TheHub</title>
    <meta name="description" content="Pre-Proxied links to various websites that are commonly blocked">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#434c5e">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="assets/css/style.css">
   <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
  <div id="header" class="fullwidth">
    <ul class="navbar">
      <li>
	      <a href="/li">Links</a>
        <a href="/uv">Pr&#173;o&#173;xy</a>
	      <a href="/g">G&#173;ame&#173; H&#173;ub</a>
	      <a href="/frm">Ga&#173;me R&#173;equ&#173;est</a>
      </li>
    </ul>
    </div>    <div id="mainbody" class="fullwidth">
        <div class="box box-medium text-center textm">
            <h1 class="bigtitle">Links</h1>
            <p class="responsive-fix">Cho&#173;ose where you woul&#173;d like to go</p>
               <a class="fancybutton glowbutton" id='youtube'>Yo&#173;u&#173;Tu&#173;be</a>
                <a class="fancybutton glowbutton" id='discordapp'>Di&#173;sco&#173;rd</a>
                <a class="fancybutton glowbutton" id='reddit'>Re&#173;d&#173;dit</a>
                <a class="fancybutton glowbutton" id='netflix'>N&#173;etf&#173;li&#173;x</a>
                <a class="fancybutton glowbutton" id='instagram'>In&#173;s&#173;tag&#173;ra&#173;m</a>
            </div>
            </div>
        </div>
    </div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <script src="assets/uvscripts/uv.bundle.js"></script>
    <script src="assets/uvscripts/uv.config.js"></script>
    <script src="assets/uvscripts/links.js"></script>
</body>

</html>