<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<html lang="en-US">
	<meta name="keywords" content="proxy, themainhub, games, minecraft, unblocked, emulators, unblocked games" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>TheHub</title>
	<meta name="description" content="A bunch of Emulators that allows for rom upload to emulate games">
	<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#434c5e">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/img/icon.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="dns-prefetch" href="https://fonts.googleapis.com">
	<link rel="stylesheet" href="assets/css/style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
	<!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
  <div id="header" class="fullwidth">
    <ul class="navbar">
      <li>
	      <a href="/li">Links</a>
        <a href="/uv">Pr&#173;o&#173;xy</a>
	      <a href="/g">G&#173;ame&#173; H&#173;ub</a>
	      <a href="/frm">Ga&#173;me R&#173;equ&#173;est</a>
      </li>
    </ul>
    </div>
	<div id="mainbody" class="fullwidth">
		<div class="box-g text-center textm">
			<div id="glist"></div>
			<div class="gfooter">
				<p>I promise I'll fi&#173;x N&#173;64 and add D&#173;S soon ._.</p>
			</div>
		</div>
	</div>
	<div id="footer" class="fullwidth"></div>
	<!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
	<script src="assets/js/games/emunav.js"></script>
</body>

</html>