<meta name="valid">
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<html lang="en-US">
	<meta name="keywords" content="proxy, themainhub, games, minecraft, unblocked, emulators, unblocked games" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>TheHub</title>
	<meta name="description" content="Selection between various types of games">
	<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#434c5e">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="dns-prefetch" href="https://fonts.googleapis.com">
	<link rel="stylesheet" href="assets/css/style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
	<!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
  <div id="header" class="fullwidth">
    <ul class="navbar">
      <li>
	      <a href="/li">Links</a>
        <a href="/uv">Pr&#173;o&#173;xy</a>
	      <a href="/g">G&#173;ame&#173; H&#173;ub</a>
	      <a href="/frm">Ga&#173;me R&#173;equ&#173;est</a>
      </li>
    </ul>
    </div>
	<div id="mainbody" class="fullwidth">
		<div class="box box-medium text-center textm">
			<h1 class="bigtitle">Th&#173;e Ga&#173;me H&#173;ub</h1>
			<p class="responsive-fix">Cho&#173;ose where you woul&#173;d like to go. Bel&#173;ow is some inform&#173;ation.</p>
			<div class="font3">
				<h3>Information:</h3>
				<p class="accented"> H&#173;ere you can find c&#173;ool stuff like em&#173;ula&#173;tors and gam&#173;es!
					<br>
					<br>Emu&#173;lat&#173;ors Featured: G&#173;B(A/&#173;C), N6&#173;4, N&#173;ES, SN&#173;ES, Genes&#173;is
					<br>E&#173;muLib&#173;r&#173;ary: C&#173;olle&#173;ction of gam&#173;e&#173;s you can play wit&#173;h the v&#173;ar&#173;ious emul&#173;ators he&#173;re. (WI&#173;P)
					<br>Ga&#173;mes Featured: Lots. Fla&#173;sh support is spot&#173;ty. </p>
				<p>Most of the ga&#173;mes here should hopefully be updated.</p>
			</div>
			<div class="responsive-fix">
        <a class="fancybutton glowbutton" href="/el">Em&#173;ulat&#173;ors</a>
        <a class="fancybutton glowbutton" href="/m">Em&#173;uLi&#173;br&#173;ar&#173;y</a>
        <a class="fancybutton glowbutton" href="/h">We&#173;b Ga&#173;mes</a> <a class="fancybutton glowbutton" href="/f">F&#173;la&#173;sh G&#173;am&#173;es</a>
        <a class="fancybutton glowbutton" id='crazygames' >Cr&#173;az&#173;yGa&#173;m&#173;es</a>
        <a class="fancybutton glowbutton" id='coolmathgames' >Co&#173;olM&#173;ath&#173;G&#173;am&#173;e&#173;s&#173;</a>
        <a class="fancybutton glowbutton" id='geforcenow' >G&#173;eF&#173;orc&#173;eNo&#173;w</a> 
      </div>
		</div>
	</div>
	<!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <script src="assets/uvscripts/uv.bundle.js"></script>
    <script src="assets/uvscripts/uv.config.js"></script>
    <script src="assets/uvscripts/games.js"></script>
</body>

</html>