<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TheHub</title>
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#434c5e">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="assets/css/style.css">
   <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  
    <script> 
    $(function(){
      $("#header").load("html/common/sidebar.html"); 
    });
    </script> 
</head>

<body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div id="header" class="fullwidth"></div>
    <div id="mainbody" class="fullwidth">
        <div class="box box-medium text-center textm">
            <h1 class="bigtitle">Th&#173;e Ga&#173;me H&#173;ub</h1>
            <p class="responsive-fix">Cho&#173;ose where you woul&#173;d like to go</p>
            <div class="responsive-fix">
                <a class="fancybutton glowbutton" href="/io">I&#173;o&#173; Ga&#173;m&#173;es&#173;</a>
                <a class="fancybutton glowbutton" href="/sh">S&#173;ho&#173;ot&#173;e&#173;r &#173;Ga&#173;me&#173;s</a>
                <a class="fancybutton glowbutton" href="/cl">Cl&#173;ick&#173;er &#173;G&#173;ame&#173;s</a>
                <a class="fancybutton glowbutton" href="/dr">Dr&#173;i&#173;ving&#173; G&#173;ame&#173;s</a>
                <a class="fancybutton glowbutton" href="/h">All &#173;Ga&#173;m&#173;es&#173;</a>
              
            </div>
            </div>
        </div>
    </div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
<script src='/assets/js/urlprox.js'></script>
</body>

</html>